# solusinit packages list

btop
diffutils
dust
fd
font-jetbrainsmono-ttf
fzf
gamemode
gamescope
git
ghostty
gnome-shell-extension-dash-to-dock
golang
heroic-games-launcher
icdiff
mangohud
ncdu
openssh-server
papirus-icon-theme
procs
ripgrep
shellcheck
steam
vim
wl-clipboard
zed
zoxide
