# solusinit packages list

apostrophe
btop
diffutils
dust
fd
font-jetbrainsmono-ttf
fzf
gamemode
gamescope
git
ghostty
gnome-shell-extension-dash-to-dock
golang
helix
heroic-games-launcher
icdiff
mangohud
ncdu
nodejs
openssh-server
papirus-icon-theme
procs
ripgrep
shellcheck
steam
vim
wl-clipboard
zed
zoxide
