# solusinit packages list

apostrophe
btop
dust
fd
font-jetbrainsmono-ttf
fzf
gamemode
gamescope
git
ghostty
gnome-shell-extension-dash-to-dock
golang
icdiff
mangohud
ncdu
openssh-server
papirus-icon-theme
procs
ripgrep
shellcheck
steam
vim
zed
zoxide
